.result-parametrs-body {
    margin-left: 47px;
    display: grid;
    grid-template-columns: repeat(3, 427px);
}

.result-parametrs-text-name {
    font-family: "Girloy-Regular";
    line-height: 150%;
    font-size: 16px;
    color: #575757;
    margin-bottom: 8px;
    margin-top: 0px;
}


.result-parametrs-text-value {
    font-family: "Nekst-Black";
    font-size: 54px;
    color: #575757;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}

.result-texts-container {

    margin-top: -55px;
}

@media only screen and (max-width: 1024px) {
    .result-parametrs-body {
        margin-left: 47px;
        margin-right: 47px;
        display: grid;
        grid-template-columns: repeat(2, 427px);
    }

    .result-parametrs-text-value {
        color: #333333;
        margin-bottom: 15px;
    }

}

@media only screen and (max-width: 768px) {
    .result-parametrs-body {
        margin-left: 47px;
        display: grid;
        grid-template-columns: repeat(2, 350px);
        margin-right: 47px;
    }

    .result-parametrs-text-value {
        color: #333333;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 320px) {
    .result-parametrs-body {
        margin-left: 21px;
        display: grid;
        grid-template-columns: repeat(1, 250px);
        margin-right: 21px;
    }

    .result-parametrs-text-value {
        color: #333333;
        margin-bottom: 20px;
    }

    .result-parametrs-text-value {
        font-family: "Nekst-Black";
        font-size: 22px;
        color: #333333;
        margin-top: 0px;
        margin-bottom: 20px;
        padding-top: 0px;
        padding-bottom: 0px;

    }

}