.calc-header-h1 {
    font-size: 54px;
    margin-top: 213px;
    line-height: 90%;
    margin-left: 47px;
    margin-right: 47px;
    font-family: 'Nekst-Black';

}

.calc-header {
    margin: 0;
    width: 757px;
    max-height: 98px;
}

.calc-body-counted-parametrs {
    margin-bottom: 62px;
}

@media only screen and (max-width: 1024px) {
    .calc-header-h1 {
        font-size: 54px;
        margin-top: 100px;
        line-height: 90%;
        margin-left: 47px;
        margin-right: 47px;
        font-family: 'Nekst-Black';

    }
}

@media only screen and (max-width: 768px) {
    .calc-header-h1 {
        font-size: 54px;
        margin-top: 64px;
        line-height: 90%;
        margin-left: 47px;
        margin-right: 47px;
        font-family: 'Nekst-Black';

    }
}


@media only screen and (max-width: 320px) {
    .calc-header-h1 {
        font-size: 54px;
        margin-top: 44px;
        line-height: 90%;
        margin-left: 47px;
        margin-right: 47px;
        font-family: 'Nekst-Black';

    }
}