.calc-header-h1{
    font-size: 54px;
    margin-top: 213px;
    line-height: 90%;
    margin-left: 47px;
    font-family:'Nekst-Black';
   
}

.calc-header{
    margin: 0;
    width: 757px;
    max-height: 98px;
}

