.text-fields {
    display: grid;
    grid-template-columns: repeat(3, 459px);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 47px;

}



.text-field {
    margin-top: 0;
    margin-bottom: 0;


}

.text-field-p-text {
    font-size: 16px;
    font-family: "Girloy-Regular";
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 29px;
    color: #575757;

}

.input-units-of-measure {
    font-size: 30px;
    font-family: "Nekst-Black";
    margin-top: 50%;
    margin-bottom: 50%;
    color: #575757;
    margin-right: 18px;
}

.input-units-of-measure-per {
    font-size: 20px;
    font-family: "Nekst-Black";
    margin-right: 17px;
    margin-left: 10px;
    color: #575757;
    margin-top: 15px;
    margin-bottom: 15px;

}



@media only screen and (max-width: 1024px) {
    .text-fields {
        display: grid;
        grid-template-columns: repeat(1, 459px);
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 36px;

    }

    .text-field-p-text {
        font-size: 16px;
        font-family: "Girloy-Regular";
        line-height: 20px;
        margin-top: 0;
        margin-bottom: 29px;
        color: #575757;

    }


}

@media only screen and (max-width: 768px) {
    .text-fields {
        display: grid;
        grid-template-columns: repeat(1, 696px);
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 36px;

    }
}


@media only screen and (max-width: 320px) {
    .text-fields {
        display: grid;
        grid-template-columns: repeat(1, 280px);
        margin-left: 13px;
        margin-top: 37px;

    }

    .text-field-p-text {
        font-size: 16px;
        font-family: "Girloy-Regular";
        line-height: 20px;
        margin-top: 37px;
        color: #575757;
        margin-bottom: 5px;
    }

}