.text-fields {
    display: grid;
    grid-template-columns: repeat(3, 459px);
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 47px;


}

.text-fields .text-field {
    margin-top: 0;
    margin-bottom: 0;

}

.text-field-p-text {
    font-size: 16px;
    font-family: "Girloy-Regular";
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 29px;
    color: #575757;

}