.button-apply-container {
    margin-top: 24px;
}

.button-apply-container-text {
    font-family: 'Nekst-Black';
    font-size: 21px;
    line-height: 36px;
}

@media only screen and (max-width: 320px) {
    .button-apply-container-text {
        font-family: 'Nekst-Black';
        font-size: 17px;

    }
}